<!--Begin of List Component-->
<app-header></app-header>
<div class="container">
<div class="card-body mt-5">
  <h2>Algumas cargas disponíveis para transportar adicionadas recentemente.</h2>
  </div>


  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Telefone</th>
        <th scope="col">Tipo de Carga</th>
        <th scope="col">Localização</th>
        <th scope="col">Editar</th>
        <th scope="col">Excluir</th>
      </tr>
    </thead>
     <tbody  *ngFor="let carga of cargas | async">
      <tr class="table-secondary" >
        <th>{{carga.nome}}</th>
        <td>{{carga.telefone}}</td>
        <td>{{carga.tipoCarga}}</td>
        <td>{{carga.local}}</td>
        <td><button type="button" class="btn btn-default" (click)="editDriver(driver, driver.key)">Editar</button></td>
          <td><button type="button" class="btn btn-danger ml-2" (click)="delete(driver.key)">Excluir</button></td>
      </tr>
      </tbody>
  </table>

  <div class="card-footer text-muted">
     updated 1 days ago
  </div>
</div>
<app-edit-cargas></app-edit-cargas>


