<!--Begin of List Component-->
<app-header></app-header>
<div class="container">
<div class="card-body mt-5">
  <h2>Usuários cadastrados no sistema.</h2>
  </div>


  <table class="table table-hover primary">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">email</th>
        <th scope="col">password</th>
        <th scope="col">id</th>
        <th scope="col">Editar</th>
        <th scope="col">Excluir</th>
      </tr>
    </thead>
     <tbody  *ngFor="let user of users | async">
      <tr class="table table-secondary" >
        <th>{{user.nome}}</th>
        <td>{{user.email}}</td>
        <td>{{user.password}}</td>
        <td>{{user.id}}</td>
        <td><button type="button" class="btn btn-default" (click)="editUser(user, user.key)">Editar</button></td>
          <td><button type="button" class="btn btn-danger ml-2" (click)="deleteUser(user.key)">Excluir</button></td>
      </tr>
      </tbody>
  </table>

  <div class="card-footer text-muted">
     updated now
  </div>
</div>
<app-edit-users></app-edit-users>



