<!--Início do componente Layout-->
<div class="row">
  <div class="col-lg-3 mb-3 ml-3 mr-3">
    <p class="text-warning">Aqui você pode procurar uma carga para transportar.</p>
    <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
      <div class="card-header">Serviços</div>
      <div class="card-body">
        <h4 class="card-title">Cargas disponíveis</h4>
        <p class="card-text">Aqui você encontra cargas disponíveis para seu caminhão. disponibilizadas em tempo real
          para transporte</p>
      </div>
    </div>

  </div>
  <div class="col-lg-3 mb-3 ml-3 mr-3">
    <p class="text-success">Se você tem uma empresa pode divulgar seu produto</p>
    <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
      <div class="card-header">Monitoramento</div>
      <div class="card-body">
        <h4 class="card-title">Acompanhamento da carga</h4>
        <p class="card-text">Você consegue acompanhar o deslocamento de sua carga durante todo o trajeto em tempo real
          pelo mapa</p>
      </div>
    </div>

  </div>
  <div class="col-lg-3 mb-3 ml-3 mr-3">
    <p class="text-info">Plataforma PWA para otimizar as informações.</p>
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
      <div class="card-header">Arquitetura</div>
      <div class="card-body">
        <h4 class="card-title">Firebase Cloud</h4>
        <p class="card-text">Aplicação utiliza integração com banco de dados na nuvem otimizando a informação e
          integração de dados</p>
      </div>
    </div>
  </div>
  <div border:2px class="col-lg-2 mb-3 mt-2">
    <p class="text-info">Acesso e Cadastro.</p>
    <div class="alert alert-dismissible alert-success">
      <strong>Aqui</strong> entre e <a routerLink="/edit" class="alert-link">Faça seu
        Cadastro</a>, e acesso todo o conteúdo.
    </div>
    <div class="alert alert-dismissible alert-info">
      <strong>Tem uma empresa?</strong> Aqui <a routerLink="/editCargas" class="alert-link">Cadastre sua carga</a>, e otimize a
      entrega
      de seus produtos.
    </div>
  </div>
</div>
<div class="card-body mb-3 mr-3 ">
  <h3 class="card-header">Mapas em tempo real</h3>
  <div class="card-body">
    <h5 class="card-title align: center">Acompanhe o deslocamento de sua carga</h5>

    <div class="row align: center height: 400px width: 600px">
      <div class="col-lg-4 mb-3">
        <h6 class="card-subtitle text-muted">sugestão de transporte SEM GPS do caminhão</h6>
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
      <div class="col-lg-4 mb-3">
        <h6 class="card-subtitle text-muted">sugestão de transporte COM GPS do caminhão</h6>
        <agm-map [latitude]="lat1" [longitude]="lng1" [zoom]="zoom1">
          <agm-marker [latitude]="lat1" [longitude]="lng1"></agm-marker>
        </agm-map>
      </div>
      <div class="col-lg-4 mb-3">
        <h6 class="card-subtitle text-muted">sugestão de carga para transporte de caminhão</h6>
        <agm-map [latitude]="lat2" [longitude]="lng2" [zoom]="zoom2">
             <agm-marker [latitude]="lat2" [longitude]="lng2"></agm-marker>
          <div id="directionsPanel" style="float:right;width:30%"></div>
        </agm-map>
      </div>
    </div>
  </div>
  <div class="card-body">
    <a routerLink="/edit" class="card-link">Cadastre-se para acesso</a>
    <a href="#" class="card-link">Já tenho cadastro</a>
  </div>
</div>

