<app-header></app-header>
<div class="row align: center"></div>
<div class="container justify-content: center">
  <h1 class="justify-content: center">Acompanhamento de Carga</h1>
</div>
<br>
<div class="row">
    <div class="col-lg-3 mb-3 ml-3 mr-3">
      <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header">Monitoramento Driver 1</div>
        <div class="card-body">
          <h4 class="card-title">Cesar Saudoso</h4>
          <a target="_blank" style="color:darkblue; text-decoration:underline"
          href="https://www.mapchannels.com/routemaps2/routemap200.htm?saddr= Rua Dr. Levy Buquera, 589 - Sítio Cercado, Curitiba
           - PR, 81910-190, Brazil&daddr= Rua David Muffato, 92 - Parque Monjolo, Foz do Iguaçu - PR,&maptype=2&units=2&z=15&fi=
           150&fs=1&refresh=3&timeout=300&draggable=0&sw=240&svc=0&svz=2&atw=160&fgc=000000&bgc=CCCCCC&rc=FF0000&rw=3&ro=0.7"
           title="View Route Map and Directions">Driver 1 Link</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mb-3 ml-3 mr-3">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Monitoramento Driver 2</div>
        <div class="card-body">
          <h4 class="card-title">Milton Truck</h4>
          <a target="_blank" style="color:green; text-decoration:underline"
          href="https://www.mapchannels.com/routemaps2/routemap200.htm?saddr= Av. Gen. Osório, 35 - Palmital, Chapecó - SC, 89812-201, Brazil&
          daddr=R. Venâncio Aires, 1930 - Centro, Santa Maria - RS, 97050-001, Brazil&maptype=2&units=2&z=15&fi=150&fs=1&refresh=3&timeout=300&
          draggable=0&sw=240&svc=0&svz=2&atw=160&fgc=000000&bgc=CCCCCC&rc=FF0000&rw=3&ro=0.7"
          title="View Route Map and Directions">Driver 2 Link</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mb-3 ml-3 mr-3">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Monitoramento Driver 3</div>
        <div class="card-body">
          <h4 class="card-title">Gil carreteiro</h4>
          <a target="_blank" style="color:darkorange; text-decoration:underline"
      href="https://www.mapchannels.com/routemaps2/routemap200.htm?saddr= R. Alves de Brito, 12 - Centro, Lages - SC, 88502-167, Brazil
      &daddr=R, Mal. Floriano Peixoto, 130 - Centro Histórico, Porto Alegre - RS, 90020-060, Brazil&maptype=2&units=2&z=15&fi=150&fs=1
      &refresh=3&timeout=300&draggable=0&sw=240&svc=0&svz=2&atw=160&fgc=000000&bgc=CCCCCC&rc=FF0000&rw=3&ro=0.7"
      title="View Route Map and Directions">Driver 3 Link</a>
        </div>
      </div>
    </div>
    <div border:2px class="col-lg-2 mb-3 mt-2">
        <p class="text-info">Para empresas</p>
        <div class="alert alert-dismissible alert-info">
            <strong>Tem uma empresa?</strong><a routerLink="/editCargas" class="alert-link">Cadastre sua carga</a>, e otimize a
            entrega
            de seus produtos.
          </div>
         </div>
  </div>

    <div class="row">
        <div class="col-lg-3 mb-3 ml-3 mr-3">
          <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Acompanhamento Driver 4</div>
            <div class="card-body">
              <h4 class="card-title">Marques dos santos</h4>
              <a target="_blank" style="color:green; text-decoration:underline"
              href="https://www.mapchannels.com/routemaps2/routemap200.htm?saddr= R. Ingo Hering, 15 - Centro, Blumenau - SC, 89010-201, Brazil
              &daddr= R. Silva, 103 - Centro, Itajaí - SC, 88301-310, Brazil&maptype=2&units=2&z=15&fi=150&fs=1&refresh=3&timeout=300&draggable=0
              &sw=240&svc=0&svz=2&atw=160&fgc=000000&bgc=CCCCCC&rc=FF0000&rw=3&ro=0.7"
              title="View Route Map and Directions">Driver 4 Link</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-3 ml-3 mr-3">
          <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Monitoramento Driver 5</div>
            <div class="card-body">
              <h4 class="card-title">Juiano Manobra</h4>
              <a target="_blank" style="color:green; text-decoration:underline"
      href="https://www.mapchannels.com/routemaps2/routemap200.htm?saddr=Av. Honório Bicalho, 1212 - Getúlio Vargas, Rio Grande - RS, Brazil
      &daddr= Av. Ferreira Viana, 1526 - Areal, Pelotas - RS, 96085-000, Brazil&maptype=2&units=2&z=15&fi=150&fs=1&refresh=3&timeout=300
      &draggable=0&sw=240&svc=0&svz=2&atw=160&fgc=000000&bgc=CCCCCC&rc=FF0000&rw=3&ro=0.7"
      title="View Route Map and Directions">Driver 5 Link</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-3 ml-3 mr-3">
          <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Monitoramento Driver 6</div>
            <div class="card-body">
              <h4 class="card-title">Carmelo Mendonça</h4>
              <a target="_blank" style="color:darkorange; text-decoration:underline"
      href="https://www.mapchannels.com/routemaps2/routemap200.htm?saddr= R. Alves de Brito, 12 - Centro, Lages - SC, 88502-167, Brazil
      &daddr=  R. Vinte e Quatro de Maio, 256 - Centro, Rio Grande - RS, 96200-003, Brazil&maptype=2&units=2&z=15&fi=150&fs=1&refresh=3
      &timeout=300&draggable=0&sw=240&svc=0&svz=2&atw=160&fgc=000000&bgc=CCCCCC&rc=FF0000&rw=3&ro=0.7"
      title="View Route Map and Directions">Driver 6 Link</a>
            </div>
          </div>
        </div>
    </div>
<!-- fim primeiros 6 caminhoneiros-->

<div class="row">
    <div class="col-lg-3 mb-3 ml-3 mr-3">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Monitoramento Driver 7</div>
        <div class="card-body">
          <h4 class="card-title">Cambojano</h4>
          <a target="_blank" style="color:green; text-decoration:underline"
          href="https://www.mapchannels.com/routemaps2/routemap200.htm?saddr=Rua Simão Kappel, 362 - sl 20 - Humaitá, Porto Alegre - RS,
          90240-210&daddr=Av. Winston Churchill, 1734 - Capão Raso, Curitiba - PR, 81150-070&maptype=2&units=2&z=15&fi=100&fs=1&refresh
          =3&timeout=300&draggable=0&sw=240&svc=0&svz=2&atw=160&fgc=000000&bgc=CCCCCC&rc=FF0000&rw=3&ro=0.7"
          title="View Route Map and Directions">Driver 7 Link</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mb-3 ml-3 mr-3">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Monitoramento Driver 8</div>
        <div class="card-body">
          <h4 class="card-title">Andre</h4>
          <a target="_blank" style="color:green; text-decoration:underline"
          href="https://www.mapchannels.com/routemaps2/routemap200.htm?saddr= Av. Gen. Osório, 35 - Palmital, Chapecó - SC, 89812-201, Brazil&
          daddr=R. Venâncio Aires, 1930 - Centro, Santa Maria - RS, 97050-001, Brazil&maptype=2&units=2&z=15&fi=50&fs=1&refresh=3&timeout=300&
          draggable=0&sw=240&svc=0&svz=2&atw=160&fgc=000000&bgc=CCCCCC&rc=FF0000&rw=3&ro=0.7"
          title="View Route Map and Directions">Driver 8 Link</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mb-3 ml-3 mr-3">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Monitoramento Driver 9</div>
        <div class="card-body">
          <h4 class="card-title">Hermeto Natal</h4>
          <a target="_blank" style="color:darkorange; text-decoration:underline"
      href="https://www.mapchannels.com/routemaps2/routemap200.htm?saddr= R. Alves de Brito, 12 - Centro, Lages - SC, 88502-167, Brazil
      &daddr=R, Mal. Floriano Peixoto, 130 - Centro Histórico, Porto Alegre - RS, 90020-060, Brazil&maptype=2&units=2&z=15&fi=50&fs=1
      &refresh=3&timeout=300&draggable=0&sw=240&svc=0&svz=2&atw=160&fgc=000000&bgc=CCCCCC&rc=FF0000&rw=3&ro=0.7"
      title="View Route Map and Directions">Driver 9 Link</a>
        </div>
      </div>
    </div>
</div>

    <div class="row">
        <div class="col-lg-3 mb-3 ml-3 mr-3">
          <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
            <div class="card-header">Acompanhamento Driver 10</div>
            <div class="card-body">
              <h4 class="card-title">Silvério Monterio</h4>
              <a target="_blank" style="color:green; text-decoration:underline"
              href="https://www.mapchannels.com/routemaps2/routemap200.htm?saddr= R. Ingo Hering, 15 - Centro, Blumenau - SC, 89010-201, Brazil
              &daddr= R. Silva, 103 - Centro, Itajaí - SC, 88301-310, Brazil&maptype=2&units=2&z=15&fi=100&fs=1&refresh=3&timeout=300&draggable=0
              &sw=240&svc=0&svz=2&atw=160&fgc=000000&bgc=CCCCCC&rc=FF0000&rw=3&ro=0.7"
              title="View Route Map and Directions">Driver 10 Link</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-3 ml-3 mr-3">
          <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Monitoramento Driver 11</div>
            <div class="card-body">
              <h4 class="card-title">Keison Tavares</h4>
              <a target="_blank" style="color:green; text-decoration:underline"
      href="https://www.mapchannels.com/routemaps2/routemap200.htm?saddr=Av. Honório Bicalho, 1212 - Getúlio Vargas, Rio Grande - RS, Brazil
      &daddr= Av. Ferreira Viana, 1526 - Areal, Pelotas - RS, 96085-000, Brazil&maptype=2&units=2&z=15&fi=100&fs=1&refresh=3&timeout=300
      &draggable=0&sw=240&svc=0&svz=2&atw=160&fgc=000000&bgc=CCCCCC&rc=FF0000&rw=3&ro=0.7"
      title="View Route Map and Directions">Driver 11 Link</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-3 ml-3 mr-3">
          <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Monitoramento Driver 12</div>
            <div class="card-body">
              <h4 class="card-title">Severo do Radio</h4>
              <a target="_blank" style="color:darkorange; text-decoration:underline"
      href="https://www.mapchannels.com/routemaps2/routemap200.htm?saddr= R. Alves de Brito, 12 - Centro, Lages - SC, 88502-167, Brazil
      &daddr=  R. Vinte e Quatro de Maio, 256 - Centro, Rio Grande - RS, 96200-003, Brazil&maptype=2&units=2&z=15&fi=100&fs=1&refresh=3
      &timeout=300&draggable=0&sw=240&svc=0&svz=2&atw=160&fgc=000000&bgc=CCCCCC&rc=FF0000&rw=3&ro=0.7"
      title="View Route Map and Directions">Driver 12 Link</a>
            </div>
          </div>
        </div>
    </div>
    <app-footer></app-footer>
